@import "../../App.scss";

.profile__button {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
}

.newPost__user {
  display: flex;
  font-size: 2rem;
  font-family: $title-font;
  color: $blue-3;
}

.posts__inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  form {
    width: 100%;
    appearance: none;
  }
  input::placeholder {
    font-family: $title-font;
    color: $blue-3;
  }
}

.add__button {
  width: 10rem;
  height: 4rem;
  border-radius: 25rem;
  font-size: 2rem;
  box-shadow: $box-shadow;
  margin-top: 1rem;
}

.content__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border: 2px $white solid;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  .img__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img {
    width: 75%;
    border: 2px $blue-3 solid;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  h2:first-child {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    width: 100%;

    letter-spacing: 1px;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
  }
}

.content__username {
  cursor: pointer;
}

.remove__edit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.like__posts__div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-family: $title-font;
  background: none;
  box-shadow: $box-shadow;
}

.pics__outer__div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}
.pics__cont {
  display: flex;
}

.pics__array {
  object-fit: cover;
  overflow-x: scroll;
  width: 150px;
  height: 150px;
  border: 2px solid $white;
  box-shadow: $box-shadow;
}

.pics__array:hover {
  transform: scale(1.1);
  transition: 600ms;
}
