@import "../../App.scss";

.user__post__content {
  display: flex;
}

.profile__button {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
}

.newPost__user {
  display: flex;
  font-size: 2rem;
  font-family: $title-font;
  color: $blue-3;
}

.profile__pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: $box-shadow;
  margin-top: 2rem;
}

.posts__inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;

  input {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  textarea {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: lightgray solid 1px;
  }
  textarea::placeholder {
    font-family: $title-font;
    color: $blue-3;
  }
  form {
    width: 100%;
    appearance: none;
  }
  input::placeholder {
    font-family: $title-font;
    color: $blue-3;
  }
}

.add__button {
  width: 10rem;
  height: 4rem;
  border-radius: 25rem;
  font-size: 2rem;
  box-shadow: $box-shadow;
  margin-top: 1rem;
}

.content__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 600px;
  // border: 2px $white solid;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  .img__cont {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  img {
    width: 50%;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  h2 {
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }

  p {
    display: flex;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: left;
    margin: 0;
  }
}

.content__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.title__content__div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.date__post {
  font-size: 0.8rem;
}

.content__username {
  cursor: pointer;
  font-size: 2rem;
  text-align: left;
  font-weight: normal;
  margin: 0;
}

.post__title {
  font-size: 1.5rem;
  border-bottom: solid lightgray 1px;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: normal;
}

.remove__edit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.like__posts__div {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  outline: none;
  font-size: 1rem;
  font-family: $title-font;
  background: none;
  border: none;
}

.pics__outer__div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}
.pics__cont {
  display: flex;
}

.pics__array {
  object-fit: cover;
  overflow-x: scroll;
  width: 150px;
  height: 150px;
  border: 2px solid $white;
  box-shadow: $box-shadow;
}

.pics__array:hover {
  transform: scale(1.1);
  transition: 600ms;
}

.profile__pic__username {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.no__post {
  width: 800px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px $white solid;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
