@import "../../App.scss";

.newPost__cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100%rem;
}

.profile__button {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
}

.newPost__user {
  display: flex;
  font-size: 2rem;
  font-family: $title-font;
  color: $blue-3;
}

.posts__inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  input {
    width: 36rem;
    height: 2rem;
  }
  input::placeholder {
    font-family: $title-font;
    color: $blue-3;
    width: 100%;
    height: 100%;
  }
}

.add__button {
  width: 4rem;
  height: 4rem;
  border-radius: 25rem;
  font-size: 2rem;
  box-shadow: $box-shadow;
}

.content__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border: 2px $white solid;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin: 1rem;
  padding: 1rem;
  background-color: $white;
  img {
    width: 250px;
    border: 2px $blue-3 solid;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
}

.content__username {
  cursor: pointer;
}

// .searchpics__form {
//   display: flex;
//   flex-direction: row;
// }

.pics__outer__div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 60%;
}
.pics__cont {
  display: flex;
}

.pics__array {
  object-fit: cover;
  overflow-x: scroll;
  width: 200px;
  height: 200px;
  border: 2px solid $white;
}

.pics__array:hover {
  transform: scale(1.1);
  transition: 600ms;
}
