@import "../../App.scss";

.profile__post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: $white;
    border: solid 2px $blue-2;
    border-radius: 4px;
    box-shadow: $box-shadow;
  }
}
