@import "../../App.scss";

.navbar {
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: $box-shadow;
  border-bottom: solid 1px lightgray;
  align-items: center;
  color: #282525;
  font-family: $title-font;
  height: 5rem;
  position: fixed;
  z-index: 5;
}

.title__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search__button__1 {
  background: none;
  border: none;
  outline: none;

  @media screen and (max-width: $response-tablet) {
    right: 50%;
    transform: translateX(50%);
  }

  i {
    font-size: 2.1rem;
    border-radius: 30px;
    color: black;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

.search__button__2 {
  position: absolute;
  top: 26px;
  left: 25px;
  i {
    color: grey;
  }
}

.searchmenu {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(194, 194, 194);
  transition: ease-in-out transform 300ms;
  transform-origin: right;
  transform: translateX(100%);
  height: 100%;
  box-shadow: $box-shadow;
  border: solid lightgray 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 6;
}

.searchmenu--open {
  transform: translateX(0);
  z-index: 5001;

  @media screen and (max-width: $response-tablet) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
}

.search__input__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-default {
  background: none;
  border: none;
}

.search__input__button {
  background: rgb(63, 63, 63);
  width: 100%;
}

.exit__button {
  position: absolute;
  top: 26px;
  right: 17px;

  i {
    color: white;
  }
}

.searchbar {
  display: flex;
  width: calc(100vw - 80px);
  padding: 28.5px;
  padding-left: 79.5px;
  border: solid 1px lightgray;
  font-size: 1.3rem;
  color: gray;
  outline: none;
  border: none;

  @media screen and (max-width: $response-tablet) {
    width: 75%;
    font-size: 0.9rem;
  }
}

.searchbar::placeholder {
  background-color: white;
}

.title {
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: lowercase;
  cursor: pointer;
  @media screen and (max-width: $response-tablet) {
    font-size: 2rem;
    padding: 1rem;
  }
}

.navbar__list {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  width: 25rem;
  justify-content: space-around;
  list-style: none;
  text-transform: lowercase;
}

.navbar__item__1 {
  letter-spacing: 2px;

  cursor: pointer;
  @media screen and (max-width: $response-tablet) {
    display: none;
  }
}

.navbar__item__2 {
  letter-spacing: 2px;

  cursor: pointer;
}

.navbar__post {
  outline: none;
  cursor: pointer;
  @media screen and (max-width: $response-tablet) {
  }
}

.search__form {
  -webkit-appearance: none;
}

.dropdown {
  width: 100%;
  margin-top: 5px;
  border-radius: 2px;
  z-index: 2;
  height: 0;
  transition: height 500ms ease-in-out;
  overflow: hidden;
}

.dropdown--open {
  height: 100%;
  display: flex;
}

.dropdown__list {
  font-size: 3rem;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 1rem;
}

.dropdown__name {
  width: 100%;
}

.dropdown__item {
  color: #3f3f3f;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin: 1rem 0;
  list-style: none;
  background: white;
  border: solid 1px white;
  box-shadow: $box-shadow;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  padding-left: 1.7rem;
  height: 5rem;

  i {
    margin-right: 1rem;
    font-size: 35px;
  }
}

.dropdown__item:first-of-type {
  margin-top: 0;
}

.dropdown__item-profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 300px;
  margin-right: 1rem;
}

.sidebar {
  right: 0;
  top: 0;
  background-color: gray;
  position: fixed;
  transition: ease-in-out width 400ms;
  width: 0;
  height: 100%;
  box-shadow: $box-shadow;
  border: solid lightgray 1px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 6;
}

.sidebar__item {
  margin-top: 4rem;
  color: white;
  list-style: none;
  font-family: $title-font;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: solid 1px white;
}

.sidebar--open {
  width: 500px;
  z-index: 7;

  @media screen and (max-width: $response-tablet) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
  }
}

.exit__menu {
  color: white;
  list-style: none;
  cursor: pointer;
}
