@import "../../App.scss";
@import "../Login/Login.scss";

.register__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register__cont {
  @extend .login__form;

  input {
    @extend .login__form;
  }
  input::placeholder {
    font-family: $title-font;
    font-size: 0.8rem;
    // font-style: italic;
    color: lightgray;
    text-decoration: underline;
  }
  button {
    height: 1.5rem;
    width: 8rem;
    border-radius: 3px;
    text-align: center;
    margin: 0.1em;
    font-family: $title-font;
    letter-spacing: 0.8px;
    color: gray;
    background-color: white;
    font-size: 0.6rem;
    font-weight: bold;
    justify-content: center;
    // border: none;
  }
}
