@import "../../App.scss";

.post__page__cont {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  // height: 100vh;
}

.one__post__cont {
  display: flex;
  justify-content: center;

  width: 100%;
}

.profile__pic__2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: $box-shadow;
  margin: 1rem;
  margin-top: 11rem;
}

.post__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  height: 100%;
  width: 30%;
  padding: 2rem;
  img {
    width: 100%;
    border: 2px $blue-3 solid;
    border-radius: 5px;
  }

  h2 {
    font-size: 2rem;
    font-family: $title-font;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
    text-align: center;
  }
}

.post__username {
  cursor: pointer;
}

.remove__edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.remove__button {
  width: 25%;
  padding: 1rem;
  left: 0;
  background: none;
  font-family: $title-font;
  font-size: 1rem;
}

.edit__button {
  width: 75%;
  padding: 1rem;
  right: 0;
  background: none;
  box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
}

.comment__like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment__button {
  width: 75%;
  padding: 1rem;
  right: 0;
  background: none;
  box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
}

.like__number {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 25%;
  padding: 1rem;
  font-size: 1rem;
  font-family: $title-font;
  background: none;
  box-shadow: $box-shadow;
}

.like__button {
  background: none;
  border: none;
  font-family: $title-font;
}

.comment__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
}

.comment__form {
  appearance: none;
  width: 100%;
}

.comment__input {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: $box-shadow;
  border: none;
  font-family: $title-font;
  font-size: 1rem;
}

.comment__username__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  box-shadow: $box-shadow;
  font-family: $title-font;
}
.username__div {
  width: 20%;
  font-weight: bold;
  cursor: pointer;
}

.comment__div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.comment__delete {
  background: none;
  box-shadow: $box-shadow;
  border: solid lightgray 1px;
}

.comment__edit {
  background: none;
  box-shadow: $box-shadow;
  border: solid lightgray 1px;
}
