@import "../../App.scss";

.post__page__cont {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 40%;
  // height: 100vh;
  @media screen and (max-width: $response-profile) {
    width: 60%;
  }

  @media screen and (max-width: $response-tablet) {
    width: 90%;
  }
}

.one__post__cont {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;

  @media screen and (max-width: $response-profile) {
    flex-direction: column;
    align-items: center;
  }
}

.profile__pics__2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: $box-shadow;
  margin: 1rem;
  margin-top: 15rem;
  @media screen and (max-width: $response-profile) {
    margin-top: 8rem;
  }
}

.post__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  padding: 2rem;

  @media screen and (max-width: $response-tablet) {
    padding: 0;
  }
  img {
    width: 100%;
    border: 2px $blue-3 solid;
    border-radius: 5px;
  }

  h2 {
    font-size: 2rem;
    font-family: $title-font;
    text-align: center;
    @media screen and (max-width: $response-profile) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1rem;
    // text-align: center;
    line-height: 1.618;
    @media screen and (max-width: $response-profile) {
      font-size: 1.2rem;
    }
  }
}

.post__username {
  cursor: pointer;
}

.remove__edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.remove__button {
  width: 25%;
  padding: 0.5rem;
  left: 0;
  background: none;
  font-family: $title-font;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.remove__edit__like {
  display: flex;
  justify-content: flex-end;
}

.edit__button {
  width: 28%;
  padding: 0.5rem;
  right: 0;
  background: none;
  // box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  transition: all 300ms;
  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.remove__edit__post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.remove__button__post {
  display: flex;
  background: none;
  border: none;

  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.edit__button__post {
  display: flex;
  background: none;
  border: none;
  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.comment__like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment__button {
  // width: 50%;
  // padding: 1rem;
  // right: 0;
  background: none;
  box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
  border: none;

  &:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.like__number {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 20%;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: $title-font;
  background: none;
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  border-radius: 3px;
  outline: none;
  &:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
  @media screen and (max-width: $response-profile) {
    border-radius: 10px;
    flex-direction: row;
    width: 30%;
    padding: 0.6rem;
  }
}

.like__button {
  background: none;
  border: none;
  font-family: $title-font;
}

.comment__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-shadow: $box-shadow;
  font-family: $title-font;
  font-size: 1rem;
}

.comment__form {
  appearance: none;
  width: 100%;
  display: flex;
  border: none;
  // height: 0;
}

.comment__input {
  // margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: $box-shadow;
  border: none;
  font-family: $title-font;
  font-size: 1rem;
}

.comment__username__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  text-align: left;
  width: 100%;
  box-shadow: $box-shadow;
  font-family: $title-font;
}
.username__div {
  width: 20%;
  font-weight: bold;
  cursor: pointer;
  @media screen and (max-width: $response-profile) {
    margin-right: 1rem;
  }
}

.comment__div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  line-height: 1.618;

  @media screen and (max-width: $response-profile) {
    font-size: 0.8rem;
  }
}

.comment__delete {
  background: none;

  border: none;
  position: inherit;
  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.comment__edit {
  background: none;

  border: none;
  i:hover {
    color: white;
    background: black;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 400ms;
  }
}

.edit__comment__input__cont {
  display: flex;
  width: 100%;
}

.edit__comment__input__button {
  width: 15%;
  background: none;
  border: none;

  &:hover {
    transform: scale(1.2);
    transition: 400ms;
  }
}

.edit__comment__input {
  width: 100%;
  padding: 1rem;
}

.edit__form {
  width: 100%;
  padding: 1rem;
  appearance: none;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $response-profile) {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
}
