$white: #f6f6f6;
$blue-1: #d6e4f0;
$blue-2: #1e56a0;
$blue-3: #163172;

$title-font: "Open Sans", sans-serif;

$box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
  0 2px 4px 0 rgba(14, 30, 37, 0.12);

$response-mobile: 400px;
$response-tablet: 728px;

.App {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $response-tablet) {
    width: 100%;
    display: flex;
  }
}

::selection {
  background: $blue-2;
  color: $white;
}
